<a href="https://colab.research.google.com/github/Sebinms45/assignment/blob/main/Day2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.2.1.1 Why Python?

1. Clean syntax
2. The same code can run on all Operating asdfsdafsd
3. **Extensive first and third party libraries (of particular note for our purposes is NumPy)**

### 1.2.1.2 Markdown Sidenote
 * This text is written in a Markdown block. Markdown is straightforward way to format writeups in Jupyter, but I won't cover it here for the sake of brevity. 
 * See if you can use Markdown in your next homework, here's a link that explains the formatting: https://daringfireball.net/projects/markdown/syntax . 
 * You can also look at existing Markdown examples (i.e. this worksheet) and emulate the style. Double click a Markdown box in Jupyter to show the code.

### 1.2.1.3 LaTeX Sidenote
* LaTeX (pronounced "La-tech") is a language itself used widely to write documents with symbolic math
* When you add a mathematical formula to these markdown blocks, the math is in LaTeX.
* Ex from class: $$V \frac{dC}{dt} = u(t) - Q C(t)$$ 
* A good resource: https://en.wikibooks.org/wiki/LaTeX/Mathematics

## 1.2.2 Python Basics

In [ ]:
print("Hello world")

Hello world

In [ ]:
1 * 4

4

asdf

In [ ]:
print(int(input("Enter a number")) * 3)

Enter a number5
15

In [ ]:
firstNumber = int(input("Enter a number"))

print(firstNumber * 3)
print(firstNumber / 3)

Enter a number15
45
5.0

In [ ]:
"Hello" + "World"

'HelloWorld'

In [ ]:
username = 'mohan'
password = '1234'

userPassword = input("Enter the password")

if userPassword == password :
  print("Welcome "+username)
  print("Hello")

else :
  print("incorrect password")

Enter the password1234
Welcome mohan
Hello

In [ ]:
username = 'mohan'
password = '1234'

name = input("Enter the name")
userPassword = input("Enter the password")

if name==username :
  if userPassword == password :
    print("Welcome "+username)
  else :
    print("Incorrect Password")
else :
  print("This user is not in our database")

Enter the namemohan
Enter the password1234
Welcome mohan

In [ ]:
marks = int(input("Enter the mark"))

if marks > 90 :
  print("Grade is A")

elif marks > 80 :
  print("Grade is B")

else :
  print("Failed!")

Enter the mark95
Grade is A
Grade is B

Loops

In [ ]:
for anynumber in range(1, 11) :
  print(anynumber*2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for anynumber in range(0, 10, 2) :
  print(anynumber)

0
2
4
6
8

In [ ]:
students = ["Ravi", "Raja", "Naveen", "Rose", "Jane"]
students[1:4]

['Raja', 'Naveen', 'Rose']

In [ ]:
for a in students:
  print("Welcome" + a)

WelcomeRavi
WelcomeRaja
WelcomeNaveen
WelcomeRose
WelcomeJane

In [ ]:
for a in students:
  print("Welcome" + a)

  if a == "Naveen":
    break

WelcomeRavi
WelcomeRaja
WelcomeNaveen

##Dictionary

In [ ]:
studentMarks = {
    "Ravi" : 95,
    "Raju" : 43,
    "Jane" : 78,
    "Pooja" :57,
    "Rahu" :83
}

studentMarks["Ravi"]

95

In [ ]:
studentMarks.keys()

dict_keys(['Ravi', 'Raju', 'Jane', 'Pooja', 'Rahu'])

In [ ]:
for key in studentMarks.keys():
  #print(key)
  #print(studentMarks[key])
  #Pass criteria is 60
  if studentMarks[key] > 60 :
    print(key+" has passed")

Ravi has passed
Jane has passed
Rahu has passed

In [ ]:
for (name, marks) in studentMarks.items():

  #print(key)
  #print(studentMarks[key])
  #Pass criteria is 60
  if marks < 60 :
    print(name+" has passed")

Raju has passed
Pooja has passed